aside {
    background-color: #f8f9fa;
}

.nav {
    margin: 0;
}

.container {
    position: relative;
}

.container p {
    margin: 0;
    text-align: center;
}

.container .nav {
    margin-left: auto;
}

.cart {
    position: absolute;
    display: flex;
    img {
        font-size: 25px;
        color: white;
    }
    &:before{
        content:attr(data-totalitems);
        font-size: 12px;
        font-weight: 6oo;
        position: absolute;
        top: -13px;
        right: -13px;
        background-color: #2bd156;
        line-height: 24px;
        padding: 0 5px;
        height: 25px;
        min-width: 24px;
        color: white;
        text-align: center;
        border-radius: 24px;

    }
}